{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card" style="margin-top: 300px; width:auto;margin-left:auto;margin-right:auto;">
            <div class="card-body">
                <h5 class="card-title">
                    Тут ви можете завантажити програму "Коди Хаффмена та Шеннона-Фано"
                </h5>
                <p class="card-text text-center">
                    <button onclick="window.location.href='https://drive.google.com/file/d/156XfU7ji5p9M7w22NFmMCjZLEyjxwsp1/view?usp=sharing';" type="button" class="btn btn-lg btn-primary">Завантажити</button>
                </p>
             
      
            </div>
        </div>
    </div>
</div>
{% endblock %}
