table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table, td, th {
    border: 1px solid #595959;
}
td, th {
    width: 30px;
    height: 25px;
    padding: 3px;
}
th {
    background-color: #7accee!important;
}

.small-table{
    position: center;
    margin:20px auto;
    width: 60%;
}
